body{
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  background-color: #000000;
}
nav{
  background-color: #17A3B8;
  padding-left: 30px;
  padding-right: 30px;
}
.nav-link{
  color: #ffffff;
}
.navbar-toggler{
  border: 1px solid #ffffff
}
hr{
  color: #17A3B8;
  opacity: 1;
}
.card-img-top{
  max-height: 179px;
}
.typeform-size{
  width: 100%;
  height: 200px;
}
footer{
  background-color: #17A3B8;
}
.icon-color{
  color: #ffffff;
}

@media (min-width: 768px) {
  nav{
    padding-left: 100px;
    padding-right: 100px;
  }
  .typeform-size{
    height: 500px;
  }
}